bgcolor = white
logoHeigth = 40%
logoWidth = 80%

.logo
  position: relative
  margin-top: 8%
  left: 51%
  width: logoHeigth
  height: logoWidth
  margin-bottom: 1em
  margin-left: -(@width / 2)

.first
	font-size: 50px
	text-align: center
	margin-bottom: 5%

.cntr
	text-align: center
	margin-top: 20px
	font-size: 18px

hr
  height:30px
  visibility: hidden

.btn_accordion 
	font-size: 20px
	float: right

.header_content 
	text-align: center
	font-size: 50px
	color: blue
	margin-top: 30px

input
	text-align: center
