
<img class="logo" src="{{logo}}">
<hr/>
<h1 class="first">A simple microservices example</h1>
<hr/>
<div class=" cnrt">
	<div class="ui-g cntr ">
			<div class="ui-g-3"></div>
			<div class="ui-g-3">
					<input type="text" pInputText [(ngModel)]="websiteURL" placeholder="Website URL">      
					<button pButton type="button" label="Get Text" (click)="getText()"></button>
			</div>
			<div class="ui-g-3">
					<p-dialog header="Scrapper results" [(visible)]="visibleTwo" modal="modal" width="1024" [responsive]="true">
							<span>{{returnedText}}</span>
							<p-footer>
									<div class="ui-dialog-buttonpane ui-helper-clearfix">
											<button type="button" pButton icon="fa-check" (click)="visibleTwo=false" label="OK"></button>
									</div>
							</p-footer>
					</p-dialog>
					<button type="text" (click)="showDialogtwo()" pButton icon="fa-external-link-square" label="Show search results"></button>
			</div>
	</div>

	<div class="ui-g cntr">
			<div class="ui-g-3"></div>
			<div class="ui-g-3">
				<input type="text" pInputText [(ngModel)]="wordToSearch" placeholder="word to search">      
				<button pButton type="button" (click)="getWordCount()" label="Search"></button>
			</div>
			<div class="ui-g-3">
					<button id="ccb" type="text" pButton label="{{WordCountButton}}"></button>
			</div>
	</div>

	<div class="ui-g cntr">
			<div class="ui-g-3"></div>
			<div class="ui-g-3">
				<input type="text" pInputText [(ngModel)]="encodeKey" placeholder="Enter encryption key">      
				<button pButton type="button" (click)="encode()" label="Encode"></button>
			</div>
			<div class="ui-g-3">
					<p-dialog header="Encoded string" [(visible)]="visible" modal="modal" width="350" [responsive]="true">
							<span>{{encodedString}}</span>
							<p-footer>
									<div class="ui-dialog-buttonpane ui-helper-clearfix">
											<button type="button" pButton icon="fa-check" (click)="visible=false" label="OK"></button>
									</div>
							</p-footer>
					</p-dialog>
					<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show encoded word"></button>
			</div>
	</div>

	<p-growl [(value)]="msgs" ></p-growl>
</div>
ssssssssssss